.container {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    margin: auto;
}

/*      title */
.title {
    margin: 3rem auto;
}

.title>h1 {
    width: 100%;
}

/*      contact */

/*          decoracion */
#contact__decoration {
    display: none;
}

/*          form */
#contact_right {
    width: 100%;
}

#contact__form {
    margin: auto;
    padding: 0;
}

.card__input {
    height: 2.5rem;
    width: 100%;
}

.card__input>* {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: solid 2px black;
    font-family: var(--icceberg);
    font-size: 1rem;
}

.card__input>*:focus-visible {
    border: solid 2px #E1FD70;
}



.menssage,
#menssage {
    height: 10rem;

}

.buttom {
    background: #E1FD70;
    width: 6rem;
    height: 3rem;
    position: relative;
    left: 45%;
    bottom: 15%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px) {

    .contact {
        padding: 0;
    }

    #contact__decoration {
        display: flex;
        background: #E1FD70;
        flex-direction: column;
        width: 30%;
        margin: 0%;
        padding: 0%;
    }

    #contact__right {
        width: 70%;
    }

    .card {
        margin: 0;
        padding: 0;
    }
}